<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.ray.roomofdestiny">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Server1CheckingMembers"
            android:label="@string/title_activity_server_checking_members" />
        <activity
            android:name=".Server2ChoosingModel"
            android:label="@string/title_activity_choosing_model" />
        <activity
            android:name=".Server3ModelList"
            android:label="@string/title_activity_server_model_list" />
        <activity
            android:name=".Server4Assigning"
            android:label="@string/title_activity_server_assigning" />
        <activity
            android:name=".Server5Result"
            android:label="@string/title_activity_server_result" />
        <activity
            android:name=".Client1ChoosingRoom"
            android:label="@string/title_activity_client1_choosing_room" />
        <activity
            android:name=".Client2Result"
            android:label="@string/title_activity_client2_result"></activity>
    </application>

</manifest>